.burgerMenu {
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid teal;
    padding: 0.5rem;
    a {
      font-size: 1.5rem;
      color: rgba(0, 128, 128, 0.9);
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
  }
}
